
<div class="row">
  <div class="col-sm-3 col-sm-offset-2">
 
  <img class="avatar img-circle" src="https://scontent-tpe1-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/1948047_760896920588900_1884121816_n.jpg?oh=a1cbad2298947a506bce2296bb025871&oe=56B04A7E">
  </div>
  <div class="col-sm-5">
  	 <h1>Natasha Tai</h1>
    <p>Everyone is born king, and most people die in exile.</p>
    <a href="https://www.facebook.com/chunyi.tai/about?section=bio&pnref=about">https://www.facebook.com/chunyi.tai/about?section=bio&pnref=about</a>
  </div>
</div>
<div class="images row">
  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://scontent-tpe1-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/10269394_883787081633216_1286699576608752419_n.jpg?oh=bb42ac25d361ef46712a2a961bb66ee9&oe=56F10E46">
    </a>
  </div>

  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xlt1/v/t1.0-9/1620864_774366635908595_194400230474991013_n.jpg?oh=29fa6f405705793c187e7c7213bbf1e7&oe=56F5B2AC&__gda__=1459295767_32c21f72354ef2bdba116f2cd10693a1">
    </a>
  </div>

  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://scontent-tpe1-1.xx.fbcdn.net/hphotos-xlf1/v/t1.0-9/11698507_1030323580312898_4243287430555673572_n.jpg?oh=2717d153456e6e09683cfd98395d2d7a&oe=56B050BE">
    </a>
  </div>  

  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/540412_883781941633730_4038309918817088712_n.jpg?oh=af3e7cdad07387fa338d87b94dfe5657&oe=56F6A247&__gda__=1454529778_6616ca61ba8001340e3330db11ce826c">
    </a>
  </div>

  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://scontent-tpe1-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/1545892_885223861489538_4521827146814611329_n.jpg?oh=29cebb53acbb595002314b3d890f645b&oe=56F96824">
    </a>
  </div>

  <div class="col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://scontent-tpe1-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/1535506_885660054779252_4495243240328340901_n.jpg?oh=39516f5720b15da0d67e206e54b81561&oe=56E943F9">
    </a>
  </div>
</div>

